@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap');


*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
}

body{
    background: rgb(133,88,247);
    background: linear-gradient(180deg, rgba(133,88,247,1) 31%, rgba(129,84,243,1) 86%); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.container{
    padding:10px;
    max-width: 800px;
    display:grid;
    grid-template-columns: repeat(7,1fr);
    gap:1rem;
    background-color: white;
    border-radius: 10px;
}
.column{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
}
.box{
    width:55px;
    height:55px;
    background-color: #8558f7;
    border-radius: 50%;
    color:transparent;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 6px solid black;
}
.column:hover{
    cursor: pointer;
    opacity: 0.8;
}
.your-turn{
    visibility: hidden;
}

#share-link{
    color:#F74F25;
    position: absolute;
    background-color: #F7E625;
    padding:30px 20px;
    box-shadow:0 0 0 9999px #000000b0;
    border-radius:5px ;
}
#share-link input{
    width:350px;
    font-weight: 400;
}
#share-link svg:hover{
    cursor: pointer;
}
#share-link h3{
    letter-spacing: 2px;
}

#result {
    padding:1rem;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Luckiest Guy', cursive;
    font-size: 5.5rem;
    text-shadow:5px 5px #000000;
    display: none;
    position: absolute;
    width: max-content;
    box-shadow:0 0 0 9999px #000000b0;
    text-align: center;

}

.play-again{
    display:block;
    border-radius: 10px;
    font-size:3rem;
    letter-spacing:1px;
    padding:20px;
    text-align: center;
    color:#666DFF;
    position:absolute;
    box-shadow:0 0 0 9999px #000000b0;
}

.animate-in-out {
    opacity: 0;
    animation: fadeInOut 5s forwards;
}

.play-again-nodisplay {
    display: none;
}

.player-title {
    font-weight:400;
}
  
.score{
    font-size:3rem;
}
.player-box{
    margin:100px;
    border:2px solid black;
    width:max-content;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:2rem;
    padding:1rem;
    border-radius:10px;
    border-bottom:10px solid black;
    
}
.player-box h1{
    font-family: 'Tektur', sans-serif;
}
.p1-box{
    background-color: #F74F25;
}
.p2-box{
    background-color: #F7E625;
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
}

@media all and (max-width: 600px) {
    body{
        display: block;
        height: 100vh;
        position: relative;
    }
    .box{
        width:45px;
        height:45px;
    }
    .container{
        width:90%;
        max-width:360px;
        gap: 0;
        margin: auto;
        margin-top: 2rem;
    }
    .column{
        gap: 0.6rem;
        justify-items: center;
    }
    .player-box{
        position: absolute;
        top: 18rem;
        padding:0;
        gap:0;
    }
    .p1-box{
        left:-20%;
    }
    .p2-box{
        right:-20%;
    }
    .player-box h1{
        font-size: 1.4rem;
    }
    #share-link{
        top:5rem;
    }
}